{% extends 'rental/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-5 mb-4">
        <div class="card border-0 shadow-sm p-4 text-center bg-dark text-white" style="border-radius: 16px;">
            <h5 class="text-warning fw-bold mb-3">CONSOLES BILLING</h5>
            {% if ps.gambar_url %}
                <img src="{{ ps.gambar_url }}" style="max-height: 180px; object-fit: contain;" class="img-fluid my-2">
            {% endif %}
            <h3 class="fw-bold mt-2">{{ ps.tipe_ps }}</h3>
            <p class="badge bg-light text-dark px-3 py-2">Unit Ke: {{ ps.nomor_ps }}</p>
            <hr class="border-secondary">
            <p class="mb-1 text-muted">Tarif Billing:</p>
            <h4 class="text-success fw-bold">Rp {{ ps.harga_per_jam }} <small class="fs-6 text-white">/ Jam</small></h4>
        </div>
    </div>

    <div class="col-md-7">
        <div class="card border-0 shadow-sm p-4 bg-white" style="border-radius: 16px;">
            <h4 class="fw-bold text-dark mb-4">📝 Form Open Billing PS</h4>
            <form method="POST">
              {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">Nama Lengkap Player</label>
                        {{ form.nama_penyewa }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">No. HP / WhatsApp</label>
                        {{ form.no_hp }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">Tanggal Main</label>
                        {{ form.tanggal_sewa }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">Jam Mulai</label>
                        {{ form.jam_mulai }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">Lama Main (Jam)</label>
                        {{ form.lama_main }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fw-bold small">Metode Pembayaran</label>
                        {{ form.metode_pembayaran }}
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-warning text-dark fw-bold w-100 py-2.5 shadow-sm">🚀 Konfirmasi & Cetak Nota</button>
                    <a href="{% url 'katalog' %}" class="btn btn-light w-100 mt-2 text-muted btn-sm">Batal</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}